/node_modules
package-lock.js
/fichiers
/config
logs/access.log
*.log
/logs
/motDePasse
*.bat

.vscode/settings.json
client/.prettierrc
.env
client/src/keys.js
client/src/actions/authAction.js
client/src/actions/authAction.js
client/src.1